/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

/web/estaticos/*
/web/uploads/*
!/web/uploads/.gitkeep
!/web/uploads/temp/
/web/uploads/temp/*
!/web/uploads/temp/.gitkeep

.bowerrc
features/chromedriver
features/selenium-server-standalone-*
behat-report.xml
src/AppBundle/Resources/chaves/*
!src/AppBundle/Resources/chaves/.gitkeep
!src/AppBundle/Resources/chaves/certificado.pem.sample
!src/AppBundle/Resources/chaves/chaves.pem.sample
